* { 
    margin: 0; 
    padding: 0;
     box-sizing: border-box;
     }
body { 
    font: 1.8em Helvetica, Arial;
 }
form { 
    background: rgb(0, 0, 0);
     padding: 8px;
      position: fixed; 
      bottom: 0;
       width: 100%;
     }
form input {
     border: 0;
      padding: 15px;
       width: 90%; 
       margin-right: .5%;
     }
form #button { 
    color:#FFF; 
    background: rgb(124, 35, 76);
     border: none; 
     padding: 20px;  
     width: 9%; }
#messages { 
    list-style-type: none; 
    margin: 0;
     padding: 0;
     }
#messages li {
     padding: 10px 15px;
     }
#messages li:nth-child(odd) { 
    background: rgb(209, 206, 41); 
}
#notifyUser { 
    position: fixed;
     bottom: 30px; 
     width: 100%; 
    }

